/* MENU SCREEN */

.menu-screen {
    -fx-background-color: linear-gradient(to top right, #0229dd, #05bfad);
}

.menu-screen Button {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-pref-width: 190px;
    -fx-padding: 10px;
    -fx-background-radius: 3px;
}

.menu-screen Button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-cursor: hand;
}

.menu-screen__heading {
    -fx-font-size: 60px;
    -fx-font-weight: 700;
    -fx-text-fill: rgba(0, 0, 0, 0.82);
}

.menu-screen__title {
    -fx-font-size: 18px;
    -fx-text-fill: rgba(0, 0, 0, 0.50);
    -fx-padding: -20px 0 50px 0;
}
